app/etc/local.xml
.htaccess
vendor/
mouf/no_commit/
var/*
.buildpath
.project
.settings/*
scripts/*
media/*
.idea/*
nbproject/*
/nbproject/private/
downloader/.cache/
includes/*
downloader/.cache
downloader/cache.cfg
downloader/connect.n
robots.txt
sitemap.xml
.composer/